<h1>About</h1>
<h2>This is the first of many projects I will build. Currently looking for work as a Ruby on Rails developer.</h2>

<h2>By <a href="https://www.facebook.com/DanielKapper01">Daniel Kapper</a> - dkapper601@gmail.com</a></h2>